@model AuMVC.Data.ViewModels.IssueViewModel
@{
    ViewBag.Title = "CreateIssue";
}

<h2>CreateIssue</h2>


@using (Html.BeginForm("CreateIssue", "Issue", FormMethod.Post))
{


    <form>

        <div class="form-group">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Item)
            @Html.TextBoxFor(m => m.Item, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Priority)
            @Html.TextBoxFor(m => m.Priority, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Status)
            @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Note)
            @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
        </div>


        <button type="button" class="btn btn-primary">Save</button>
    </form>

}