@using AuMVC.Data.Enums;
@model AuMVC.Data.ViewModels.IssueViewModel
@{
    ViewBag.Title = "CreateIssue";
}

<h2>CreateIssue</h2>


@using (Html.BeginForm("CreateIssue", "Issue", FormMethod.Post))
{


    <form>

        <div class="form-group">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @type = "date" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Item)
            @Html.TextBoxFor(m => m.Item, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category)

            @Html.DropDownList("IssueCategory",
                 Html.GetEnumSelectList<IssueCategory>(),
                 "Issue Category", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Status)
            @Html.DropDownList("IssueStatus",
                 Html.GetEnumSelectList<IssueStatus>(),
                 "Issue Status", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Note)
            @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DropDownList("IssuePriority",
                     Html.GetEnumSelectList<IssuePriority>(),
                     "Issue Gender", new { @class = "form-control" })
        </div>


        <button type="button" class="btn btn-primary">Save</button>
    </form>

}