@using AuMVC.Data.Models
@model List<Issue>

@{
    ViewData["Title"] = "IndexIssue";
}

<button type="button" class="btn btn-default">
    @Html.ActionLink("Add New", "CreateIssue", "Issue")
</button>

@if (Model.Any())
{

    <table class="table table-bordered table-hover">
        <tr class="info">
            <td>Issue Code</td>
            <td>Date</td>
            <td>Category</td>
            <td>Issue Item</td>
            <td>Priority</td>
            <td>Status</td>
            <td>Note</td>

        </tr>
        <tbody>
            @foreach (Issue issue in Model)
            {
                <tr>
                    <td>@issue.Code</td>
                    <td>@issue.Date</td>
                    <td>@issue.Category</td>
                    <td>@issue.Item</td>
                    <td>@issue.Priority</td>
                    <td>@issue.Status</td>
                    <td>@issue.Note</td>
                    <td>@Html.ActionLink("Edit", "EditIssue", "Issue", new { @id = issue.Id })</td>
                    <td>@Html.ActionLink("Delete", "DeleteIssue", "Issue", new { @id = issue.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-center text-danger">There are no issues yet!</h1>

}
