@using AuMVC.Data.Models
@model List<Variation>

@{
    ViewData["Title"] = "Variation";
}


<button type="button" class="btn btn-default"> @Html.ActionLink("Add New", "CreateVariation", "Variation") </button>

@if (Model.Any())
{

    <table class="table table-bordered table-hover">
        <thead>
            <tr class="info">
                <td>Variation Code</td>
                <td>Date Released</td>
                <td>Contract</td>
                <td>Location</td>
                <td>Description</td>
                <td>Comment</td>
                <td>Price</td>
                <td>EOT</td>
                <td>Status</td>
                <td>Claimmed</td>
                <td>Paid</td>
                <td>Payment Date</td>


            </tr>

        </thead>


        <tbody>
            @foreach (Variation variation in Model)
            {
                <tr>
                    <td>@variation.VariationCode</td>
                    <td>@variation.DateReleased</td>
                    <td>@variation.Contract</td>
                    <td>@variation.Location</td>
                    <td>@variation.Description</td>
                    <td>@variation.Comment</td>
                    <td>@variation.Price</td>
                    <td>@variation.EOT</td>
                    <td>@variation.Status</td>
                    <td>@variation.Claimed</td>
                    <td>@variation.Paid</td>
                    <td>@variation.PaymentDate</td>
                    <td type="buttton" class="btn btn-default">@Html.ActionLink("Edit", "EditVariation", "Variation", new { @id = variation.Id })</td>
                    <td type="buttton" class="btn btn-default">@Html.ActionLink("Delete", "DeleteVariation", "Variation", new { @id = variation.Id })</td>
                </tr>
            }
        </tbody>
    </table>



}

else
{
    <h1 class="text-center text-danger">There are no Variation yet!</h1>

}
