@using AuMVC.Data.Models
@model IEnumerable<Site>


<h1>Ausmar Project </h1>

<ul class="list-group-item-heading">
    <li class="btn-info btn-lg " >
       @Html.ActionLink("Sites", "Index", "Site")
    </li>
    <li class="btn-info btn-lg">
        @Html.ActionLink("Issues", "IndexIssue", "Issue")
    </li>

    <li class="btn-info btn-lg">
        @Html.ActionLink("Maintenance", "IndexMaintenance", "Maintenance")
    </li>
    <li class="btn-info btn-lg">
        @Html.ActionLink("Progress Stage", "IndexProgressStage", "ProgressStage")
    </li>
    <li class="btn-info btn-lg">
        @Html.ActionLink("Variation", "IndexVariation", "Variation")
    </li>

</ul>


