@using AuMVC.Data.Models


<h1>Ausmar Project </h1>

<ul class="list-unstyled">
    <li class="btn-info btn-lg " >
        @Html.ActionLink("Sites", "Index", "Site")
    </li>
    <li class="btn-info btn-lg">
        @Html.ActionLink("Issues", "IndexIssue", "Issue")
    </li>

    <li class="btn-info btn-lg">
        @Html.ActionLink("Maintenance", "IndexMaintenance", "Maintenance")
    </li>
    <li class="btn-info btn-lg">
        @Html.ActionLink("ProgressStage", "IndexProgressStage", "ProgressStage")
    </li>
    <li class="btn-info btn-lg">
        @Html.ActionLink("Variation", "IndexVariation", "Variation")
    </li>

</ul>


