@using AuMVC.Data.Models
@model IEnumerable<Site>


<h1>Ausmar Project </h1>

<h3>Click on buttons to view the content</h3>

    <div type="button" class="btn btn-default">
        @Html.ActionLink("Sites", "Index", "Site")
    </div>


    <div type="button" class="btn btn-default">
        @Html.ActionLink("Issues", "IndexIssue", "Issue")
    </div>

    <div type="button" class="btn btn-default">
        @Html.ActionLink("Maintenance", "IndexMaintenance", "Maintenance")
    </div>


    <div type="button" class="btn btn-default">
        @Html.ActionLink("Progress Stage", "IndexProgressStage", "ProgressStage")
    </div>

    <div type="button" class="btn btn-default">
        @Html.ActionLink("Variation", "IndexVariation", "Variation")
    </div>



