@using AuMVC.Data.Enums;
@model AuMVC.Data.ViewModels.MaintenanceViewModel
@{
    ViewBag.Title = "CreateMaintenance";
}

<h2>CreateMaintenance</h2>

@using (Html.BeginForm("CreateMaintenance", "Maintenance", FormMethod.Post))
{


    <form>

        <div class="form-group">
            @Html.LabelFor(m => m.IssueCode)
            @Html.TextBoxFor(m => m.IssueCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IssueCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateRaised)
            @Html.TextBoxFor(m => m.DateRaised, new { @class = "form-control",@type="date" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category)
            @Html.DropDownList("MaintenanceCategory",
               Html.GetEnumSelectList<MaintenanceCategory>(),
               "Maintenance Category", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Item)
            @Html.TextBoxFor(m => m.Item, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Priority)
            @Html.DropDownList("MaintenancePriority",
               Html.GetEnumSelectList<MaintenancePriority>(),
               "<MaintenancePriority", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Status)
          
            @Html.DropDownList("MaintenanceStatus",
            Html.GetEnumSelectList<MaintenanceStatus>(),
            "MaintenanceStatus", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Note)
            @Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
        </div>


        <button type="button" class="btn btn-primary">Save</button>
    </form>

}