@using AuMVC.Data.Enums;
@model AuMVC.Data.ViewModels.ProgressStageViewModel
@{
    ViewBag.Title = "CreateProgressStage";
}

<h2>CreateProgressStage</h2>


@using (Html.BeginForm("CreateProgressStage", "ProgressStage", FormMethod.Post))
{


    <form>

        <div class="form-group">
            @Html.LabelFor(m => m.Stage)

            @Html.DropDownList("ProgressStageStage",
      Html.GetEnumSelectList<ProgressStageStage>(),
      "ProgressStageStage", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Value)
                @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DateCompleted)
                @Html.TextBoxFor(m => m.DateCompleted, new { @class = "form-control", @type = "date" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CompletedBy)
                @Html.TextBoxFor(m => m.CompletedBy, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DateApproved)
                @Html.TextBoxFor(m => m.DateApproved, new { @class = "form-control", @type = "date" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ApprovedBy)
                @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PaymentStatus)

                @Html.DropDownList("ProgressStagePaymentStatus",
          Html.GetEnumSelectList<ProgressStagePaymentStatus>(),
          "ProgressStagePaymentStatus", new { @class = "form-control" })
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.DatePaid)
                @Html.TextBoxFor(m => m.DatePaid, new { @class = "form-control", @type = "date" })
            </div>


            <button type="button" class="btn btn-primary">Save</button>
</form>

}
