@using AuMVC.Data.Models
@model List<ProgressStage>

@{
    ViewData["Title"] = "Progress Stage";
}


<button type="button" class="btn btn-default"> @Html.ActionLink("Add New", "CreateProgressStage", "ProgressStage" ) </button>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr class="info">
                <td>Stage</td>
                <td>Value</td>
                <td>Date Completes</td>
                <td>Completed By</td>
                <td>Date Approved</td>
                <td>Approved by</td>
                <td>Payment Status</td>
                <td>Date Paid</td>

            </tr>

        </thead>

        <tbody>
            @foreach (ProgressStage progressStage in Model)
            {
                <tr>
                    <td>@progressStage.Stage</td>
                    <td>@progressStage.Value</td>
                    <td>@progressStage.DateCompleted</td>
                    <td>@progressStage.DateApproved</td>
                    <td>@progressStage.ApprovedBy</td>
                    <td>@progressStage.PaymentStatus</td>
                    <td>@progressStage.DatePaid</td>

                    <td type="button" class="btn btn-default">@Html.ActionLink("Edit this Progress Stage", "EditProgressStage", "ProgressStage", new { @id = progressStage.Id })</td>
                    <td type="button" class="btn btn-default">@Html.ActionLink("Create a Progress Stage", "CreateProgressStage", "ProgressStage", new { @id = progressStage.Id })</td>
                </tr>
            }
        </tbody>
    </table>

}


else
{
    <h1 class="text-center text-danger">There are no ProgressStage yet!</h1>

}




